@use '../../styles/colors.scss';
.portScrollNavbar {
  background-color: colors.$background-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  color: colors.$fontcolor-primary;
  padding: 2%;
}
.spanNav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  text-transform: uppercase;
}
.portNavText {
  border-bottom: solid 1px;
  gap: 2.5rem;
  font-weight: 300;
  font-size: 0.875rem;
}

.headerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
}

.top {
  display: flex;
  justify-content: space-between;
}

.Nav {
  @apply gap-2 flex-1 flex justify-center;
  display: flex;
  flex: 1;
  justify-content: center;
}
