@use '../../styles/colors.scss';
.portScrollNavbar {
  background-color: colors.$background-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  color: colors.$fontcolor-primary;
  padding: 2%;
}
.spanNav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  text-transform: uppercase;
}
.portNavText {
  border-bottom: solid 1px;
  gap: 2.5rem;
  font-weight: 300;
  font-size: 0.875rem;
}

.headerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
  padding-top: 10%;
}
@media screen and (max-width: 425px) {
  .headerCenter {
    padding-top: 15%;
  }
}

.top {
  display: flex;
  justify-content: space-between;
}

.Nav {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 0.5rem;
}
