@use '../../styles/colors.scss';
.center {
  @apply flex justify-center lg:h-screen;
  // height: 100vh;
  align-items: center;
  background-color: colors.$background-light;
  color: colors.$fontcolor-primary;
  padding-top: calc(3.5rem + 1rem);
}
@media screen and (max-width: 1000px) {
  .center {
    height: auto;
  }
}
.portHoverCardText {
  color: colors.$background-dark;
}
.portfolio {
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}
.row {
  @apply flex flex-col;
  justify-content: center;
  align-items: center;
}
.headText {
  @apply text-center text-4xl;
  color: colors.$fontcolor-secondary;
}
@media screen and (max-width: 777px) {
  .headText {
    @apply text-2xl;
  }
}
.pFilter {
  display: flex;
  @apply text-center;
}
.pFilter ul {
  @apply m-0 p-0;
}

.pFilter ul li {
  @apply inline-block text-sm mr-5 relative cursor-pointer uppercase;
  font-size: large;
}
.selItem {
  @apply font-semibold;
}
.item {
  @apply xs:flex-col sm:flex-row flex flex-wrap justify-center md:flex-nowrap xs:gap-4 md:gap-8;
}
.hoverContext {
  @apply flex flex-col items-center;
}

.relativeP {
  @apply relative;
}
.align {
  @apply flex justify-center mt-8;
}

@media screen and (max-width: 777px) {
  .item {
    flex-direction: row;
  }
}

.desCon {
  @apply text-center text-2xl uppercase;
  color: colors.$fontcolor-primary;
}
