.center {
  @apply flex justify-center;
  height: 100vh;
  align-items: center;
  background-color: #1b3241;
  color: white;
}
@media screen and (max-width: 1000px) {
  .center {
    height: auto;
  }
}
.portHoverCardText {
  color: #1b3241;
}
.portfolio {
  margin: 2% 7%;
}
.row {
  @apply flex flex-col;
  height: 30vh;
  justify-content: center;
  align-items: center;
}
.headText {
  @apply text-center;
  font-size: xx-large;
  color: #4da8da;
  margin-bottom: 2%;
}
.pFilter {
  @apply mb-10 text-center;
  font-size: x-large;
}
.pFilter ul {
  @apply m-0 p-0;
}
.selItem {
  @apply font-semibold;
}
.pFilter ul li {
  @apply inline-block text-sm mr-5 relative cursor-pointer uppercase;
}
.pFilter ul li::before {
  content: '/';
  @apply absolute -right-4 font-normal;
}
.pFilter ul li:last-child::before {
  @apply hidden;
}

.item {
  @apply flex flex-wrap justify-center;
  gap: 10px;
}
.hoverContext {
  @apply flex flex-col items-center;
}
.hoverContext span {
  box-shadow: 0 0 10px rgb(0 0 0 / 45%);
  @apply flex items-center justify-center opacity-100 rounded-lg;
  background: #4da8da;
}

.relativeP {
  @apply relative h-full w-full;
}
.align {
  @apply flex justify-center mt-8;
}

@media screen and (max-width: 777px) {
  .center {
    height: auto;
  }
  .item {
    flex-direction: column;
  }
}
