@use '../../styles/colors.scss';
.center {
  @apply flex justify-center;
  height: 100vh;
  align-items: center;
  background-color: colors.$background-light;
  color: colors.$fontcolor-primary;
  padding-top: calc(2.5rem + 1rem);
}
@media screen and (max-width: 1000px) {
  .center {
    height: auto;
  }
}
.portHoverCardText {
  color: colors.$background-dark;
}
.portfolio {
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
}
.row {
  @apply flex flex-col;
  justify-content: center;
  align-items: center;
}
.headText {
  @apply text-center text-4xl;
  color: colors.$fontcolor-secondary;
}
.pFilter {
  display: flex;
  @apply text-center;
}
.pFilter ul {
  @apply m-0 p-0;
}

.pFilter ul li {
  @apply inline-block text-sm mr-5 relative cursor-pointer uppercase;
  font-size: large;
}
.selItem {
  @apply font-semibold;
}
.item {
  @apply xs:flex-col sm:flex-row flex flex-wrap justify-center md:flex-nowrap;
}
.hoverContext {
  @apply flex flex-col items-center;
}

.relativeP {
  @apply relative h-full w-full;
}
.align {
  @apply flex justify-center mt-8;
}

@media screen and (max-width: 777px) {
  .center {
    height: auto;
  }
  .item {
    flex-direction: row;
  }
}
// @media screen and (max-width: 668px) {
//   .item {
//     flex-direction: column;
//   }
// }
.desCon {
  @apply text-center text-2xl uppercase;
  color: colors.$fontcolor-primary;
}
