@use '../../styles/colors.scss';
.portSingleBlog {
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  font-size: xxx-large;
}
@media screen and (max-width: 777px) {
  .portSingleBlog {
    font-size: xx-large;
  }
}
.light_theme {
  background-color: colors.$background-light;
  color: colors.$fontcolor-primary;
}
.Skillbar {
  @apply relative;
  background: colors.$background-dark;
}

.resumeMain {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 1024px;
  margin: 0 auto;
  padding: 4rem 0;
}

.workPara {
  flex: 1;
  @apply flex flex-col;
}
.portEduLeftText {
  @apply text-xl;
  color: colors.$fontcolor-primary;
}
.portEduLeft {
  @apply lg:text-3xl sm:text-xl md:text-2xl;
  color: colors.$fontcolor-primary;
}
.education {
  @apply gap-6 text-xl flex flex-col;
}
.tech {
  flex: 1;
  display: grid;
  @apply sm:grid-cols-2 gap-4;
}

.blockTable {
  display: flex;
  @apply xs:flex-col sm:flex-row xs:px-8 lg:p-0 xs:gap-4;
}
.day {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.college {
  @apply hover:border-solid border-t-0 hover:transform border-b border-l-0 border-r-0;
  color: colors.$fontcolor-secondary;
  border-bottom: colors.$fontcolor-secondary;
}

.workEp {
  @apply flex-1 flex md:flex-row xs:flex-col xs:gap-4;
}

.Skillbars {
  @apply flex items-center gap-4 w-full pr-10;
}

.Skillblock {
  @apply w-auto justify-center flex-1;
}

.Skillht1 {
  @apply w-11/12 h-3  animate-pulse;
  background-color: colors.$fontcolor-secondary;
}
.Skillht2 {
  @apply w-4/5 h-3 animate-pulse;
  background-color: colors.$fontcolor-secondary;
}

.Skillht3 {
  @apply w-3/4 h-3 animate-pulse;
  background-color: colors.$fontcolor-secondary;
}

.Skillht4 {
  @apply w-3/4 h-3 animate-pulse;
  background-color: colors.$fontcolor-secondary;
}
.Skillht5 {
  @apply w-5/6 h-3 animate-pulse;
  background-color: colors.$fontcolor-secondary;
}
.Skillht6 {
  @apply w-11/12 h-3 animate-pulse;
  background-color: colors.$fontcolor-secondary;
}
.Skillht7 {
  @apply w-8/12 h-3 animate-pulse;
  background-color: colors.$fontcolor-secondary;
}

.sideDiv {
  @apply flex flex-col sm:flex-row flex-1 w-full md:justify-around;
}
.backAlign {
  @apply text-lg mt-2 border-t-0 border-r-0 border-l-0 border-2 border-solid;
  color: colors.$fontcolor-secondary;
  border-color: colors.$fontcolor-secondary;
  cursor: pointer;
  background: none;
}
.portHeadingText {
  color: colors.$fontcolor-secondary;
  font-weight: 600;
  font-size: 1.875rem;
  margin: 0;
  text-transform: uppercase;
  width: 35%;
}
@media screen and (max-width: 777px) {
  .portHeadingText {
    @apply text-2xl;
  }
}
