//Project Card
@use '../../styles/colors.scss';
// card portfolio style
.cardPort {
  padding: 0.5rem 0;
  // @apply w-full sm:w-1/2 lg:w-1/3 p-2;
  :hover {
    .hoverPort {
      opacity: 0.9;
    }
  }
}

.hoverPort {
  background: colors.$fontcolor-primary;
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 4px;
  right: 0;
  left: 0;
  height: 99%;
  width: 100%;
  margin: auto;
  transition-duration: 500ms;
}
