@use '../../styles/colors.scss';
.portHomeButton {
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid;
  font-size: 14px;
  padding: 12px 20px;
  border-color: colors.$fontcolor-secondary;
  color: colors.$fontcolor-secondary;
  background: transparent;
}
.portHomeButton:hover {
  border-color: colors.$fontcolor-primary;
  color: colors.$fontcolor-primary;
  background: transparent;
  cursor: pointer;
}
.portSocialButton {
  align-items: center;
  justify-content: center;
  border: solid 2px colors.$fontcolor-primary;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  background: transparent;
  margin: 0 0.25rem;
  cursor: pointer;
}
.portSocialButton:hover {
  border: solid 2px colors.$fontcolor-secondary;
  color: colors.$fontcolor-secondary;
  background-color: transparent;
}
.portServiceButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  // border: solid 2px colors.$fontcolor-primary;
  // border-radius: 50%;
  // height: 5rem;
  // width: 5rem;
}
.portServiceButton:hover {
  // background-color: colors.$fontcolor-secondary;
  box-shadow: 0px 10px 10px colors.$background-light;
  transform: translateZ(2px);
  transition-duration: 500ms;
}
.disable {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 14px;
  padding: 12px 20px;
  font-weight: 600;
  border: 2px solid;
}
.technoBtn {
  font-weight: 400;
  border: 2px solid;
  font-size: 14px;
  padding: 0 7px;
  border-color: colors.$fontcolor-secondary;
  color: colors.$fontcolor-secondary;
  background: transparent;
  height: 100%;
  align-items: center;
  display: flex;
  &:hover {
    border-color: colors.$fontcolor-primary;
    color: colors.$fontcolor-primary;
    background: transparent;
    cursor: pointer;
  }
}
