.portHomeButton {
  @apply text-sm px-5 py-3
  uppercase font-semibold border-2 border-solid
  hover:bg-transparent hover:items-center cursor-pointer;
  border-color: #4da8da;
  color: #4da8da;
}
.portHomeButton:hover {
  border-color: white;
  color: white;
}
.portSocialButton {
  @apply border-2
  border-solid rounded-2xl items-center justify-center
  h-10 w-10
  hover:bg-transparent;
}
.portSocialButton:hover {
  border-color: #4da8da;
  color: #4da8da;
}

.portResume {
  @apply text-white bg-transparent p-2;
  border: #222;
}
.portResume:hover {
  background-color: #222;
}

.portServiceButton {
  @apply bg-transparent
  flex
  border-2 border-solid rounded-2xl
  items-center justify-center
  h-20 w-20;
}
.portServiceButton:hover {
  background-color: #4da8da;
  box-shadow: 0px 10px 10px black;
  transform: translate(3px);
}
.disable {
  @apply cursor-not-allowed opacity-50 text-sm px-5 py-3
  uppercase font-semibold border-2 border-solid;
}
