.portEduPercent {
  font-size: 1.875rem;
  font-weight: 600;
  margin-top: 2rem;
}

.portLogoText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
  z-index: 50;
  position: absolute;
}

.portNavText {
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}

.portHeaderText {
  font-size: 4.5rem;
  color: black;
}
.portHeaderHomeText {
  color: black;
}

.portHeaderCaptionBold {
  font-size: 1.5rem;
}

.portHeadingText {
  color: #4da8da;
  font-weight: 600;
  font-size: 1.875rem;
  margin: 0;
  text-transform: uppercase;
}

.portHeadingCaption {
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

.portParaText {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
}

.portAboutCaption {
  font-size: 1.25rem;
}

.portParaAboutText {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.75rem;
}

.portButtonText {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}

.portServiceSubHeadingText {
  @apply font-semibold text-lg uppercase;
}

.portCounterText {
  @apply text-3xl font-extrabold;
}

.portCounterCaption {
  @apply text-base font-semibold;
}

.portCardHeaderText {
  @apply text-base font-semibold;
}

.portCardReadText {
  @apply text-sm  font-semibold border-b-2 border-gray-600;
}

.portHeaderTextPCard {
  @apply text-3xl mt-0 font-bold text-center;
}

.portCardDateText {
  @apply text-sm  font-semibold;
}

.portTestimonialText {
  @apply text-2xl font-semibold m-0;
}
.portCommentText {
  @apply text-2xl font-semibold m-0;
}

.portTestimonialPText {
  @apply text-base font-sans;
}
.portEduLeftText {
  @apply font-sans;
  color: white;
  padding: 5px 0;
}

.portTestimonialRoleText {
  @apply-dull text-sm font-semibold mt-2;
}

.portContactHeadingText {
  @apply text-base font-bold;
}

.portContactDetailText {
  @apply text-sm;
}
.portCommentdetailText {
  @apply text-sm;
}
.portFooterText {
  @apply text-sm;
}

.portFilterText {
  @apply text-sm uppercase;
}

.portHoverCardText {
  @apply text-xl font-semibold text-center;
}
.portSingleBlog {
  @apply font-semibold md:text-5xl sm:text-4xl xs:text-3xl m-0 uppercase;
}

.portSingleBlogText {
  @apply font-semibold text-2xl m-0 uppercase;
}
