@use '../../styles/colors.scss';
.portEduPercent {
  font-size: 1.875rem;
  font-weight: 600;
  margin-top: 2rem;
  color: colors.$fontcolor-primary;
}

.portLogoText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
  z-index: 50;
  position: absolute;
}

.portNavText {
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}

.portHeaderText {
  font-size: 4.5rem;
  color: colors.$fontcolor-primary;
}
.portHeaderHomeText {
  color: colors.$fontcolor-primary;
}

.portHeaderCaptionBold {
  font-size: 1.5rem;
}

.portHeadingText {
  color: colors.$fontcolor-secondary;
  font-weight: 600;
  font-size: 1.875rem;
  margin: 0;
  text-transform: uppercase;
}

.portHeadingCaption {
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: colors.$fontcolor-primary;
}

.portParaText {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
}

.portAboutCaption {
  font-size: 1.25rem;
}

.portParaAboutText {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.75rem;
}

.portButtonText {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}

.portServiceSubHeadingText {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.portCounterText {
  font-size: 1.875rem;
  font-weight: 800;
}

.portCounterCaption {
  font-size: 1rem;
  font-weight: 600;
}

.portCardHeaderText {
  font-size: 1rem;
  font-weight: 600;
}

.portCardReadText {
  font-size: 0.875rem;
  font-weight: 600;
  border-bottom: 2px solid gray;
}

.portHeaderTextPCard {
  margin-top: 0;
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
}

.portCardDateText {
  font-size: 0.875rem;
  font-weight: 600;
}

.portTestimonialText {
  font-size: 1.5rem;
  font-weight: 600;
}
.portCommentText {
  font-size: 1.5rem;
  font-weight: 600;
}

.portTestimonialPText {
  font-size: 1rem;
}
.portEduLeftText {
  color: colors.$fontcolor-primary;
  padding: 5px 0;
}

.portTestimonialRoleText {
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.portHoverCardText {
  text-align: center;
  font-weight: 600;
}
.portSingleBlog {
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  font-size: xx-large;
}

.portSingleBlogText {
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}
