@use '../../styles/colors.scss';
.mainDiv {
  background-color: colors.$background-dark;
  color: colors.$fontcolor-primary;
  display: flex;
  height: 100vh;
  // flex-wrap: wrap;
  padding: calc(3.5rem + 1rem) 1.5rem;
  max-width: 1024px;
  margin: auto;
}
@media screen and (max-width: 777px) {
  .mainDiv {
    height: auto;
    flex-direction: row;
  }
  .imgdiv {
    justify-items: center;
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .mainDiv {
    flex-direction: column;
    align-items: baseline;
  }
  .imgdiv {
    width: 100%;
  }
}
.img {
  height: 100%;
  object-fit: cover;
}

.imgdiv {
  @apply flex;
  margin: 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 1rem;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
  flex: 1;

  & .portImgHover {
    scroll-snap-align: start;
    height: 100%;
    width: 100%;
  }
}
.imgdiv::-webkit-scrollbar {
  display: none;
}

.content {
  @apply leading-8 text-left;
  padding: 20px 0;
}

.textDiv {
  @apply flex-col flex p-4;
  flex: 2;
}
.head {
  text-decoration: underline colors.$fontcolor-secondary;
  font-size: x-large;
}
.detail {
  @apply text-lg;
  padding: 10px 0;
  margin-bottom: 20px;
}
.backAlign {
  @apply text-lg mt-2 border-t-0 border-r-0 border-l-0 border-2 border-solid;
  color: colors.$fontcolor-secondary;
  border-color: colors.$fontcolor-secondary;
  cursor: pointer;
  background: none;
}
.techno {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
  height: 45px;
}
// @media screen and (max-width: 777px) {
//   .mainDiv {
//     flex-direction: column;
//     align-items: baseline;
//   }
// }
