@use '../../styles/colors.scss';
.mainDiv {
  background-color: colors.$background-light;
  color: colors.$fontcolor-primary;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 7%;
}
@media screen and (max-width: 777px) {
  .mainDiv {
    height: auto;
  }
}
.img {
  height: 100%;
  object-fit: cover;
}

.imgdiv {
  @apply flex items-center py-4;
  flex: 1;
  justify-content: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 20px;
  scroll-snap-type: inline mandatory;
  & .portImgHover {
    width: 100%;
    scroll-snap-align: start;
  }
}

.content {
  @apply leading-8 text-left;
  padding: 20px 0;
}

.textDiv {
  @apply flex-col flex lg:p-6 md:p-5 sm:p-4 xs:p-2 gap-5;
  flex: 1;
  height: 25rem;
}
.head {
  text-decoration: underline colors.$fontcolor-secondary;
  font-size: x-large;
}
.detail {
  @apply text-lg;
  padding: 10px 0;
  margin-bottom: 20px;
}
.backAlign {
  @apply text-lg mt-2 border-t-0 border-r-0 border-l-0 border-2 border-solid;
  color: colors.$fontcolor-secondary;
  border-color: colors.$fontcolor-secondary;
  cursor: pointer;
  background: none;
}
.techno {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
  height: 45px;
}
@media screen and (max-width: 777px) {
  .mainDiv {
    flex-direction: column;
    align-items: baseline;
  }
}
