@use '../../styles/colors.scss';
.navbar {
  position: fixed;
  z-index: 10000;
}
.nav-btn {
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: solid 3px colors.$fontcolor-secondary;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.nav-btn::before {
  content: '';
  position: absolute;
  width: 1.7rem;
  height: 0.1rem;
  background: colors.$fontcolor-secondary;
  transform: translateY(-4px);
  transition: 0.3s;
}
.nav-btn::after {
  content: '';
  position: absolute;
  width: 1.7rem;
  height: 0.1rem;
  background: colors.$fontcolor-secondary;
  transform: translateY(4px);
  transition: 0.3s;
}
.nav-btn.active::before {
  transform: translateY(0rem) rotate(45deg);
}
.nav-btn.active::after {
  transform: translateY(0rem) rotate(-45deg);
}
.container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.7% 7%;
}

.max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 35px;
  font-weight: 600;
  color: colors.$fontcolor-primary;
}
.logo span {
  color: colors.$fontcolor-secondary;
}
.menu {
  display: flex;
}
.menu li {
  list-style: none;
  display: inline-block;
}
.menu li a {
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  color: colors.$fontcolor-primary;
}
.menu li a:hover {
  color: colors.$fontcolor-secondary;
}
.blankSpace {
  display: none;
}
.sub-container {
  align-items: center;
  display: flex;
}
.active {
  color: colors.$fontcolor-secondary;
}
.fixed-header {
  background: colors.$background-dark;
}
.nav-transparent {
  background: colors.$background-dark;
}
@media screen and (min-width: 777px) {
  .menu {
    display: flex !important;
  }
}
@media screen and (max-width: 777px) {
  .nav-btn {
    display: flex;
  }
  .menu {
    flex-direction: column;
    position: relative;
    transition: 0.5s;
    width: 40%;
    height: 95vh;
  }
  .blankSpace {
    width: 70%;
    height: 95vh;
    background: none;
    border: none;
    display: flex;
  }
  .menu li {
    display: flex;
    padding: 10% 15%;
  }
  .max-width {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
  .sub-container {
    display: none;
    position: absolute;
    width: 100%;
    background: transparent;
    margin-top: 50px;
    visibility: visible;
  }
}
@media screen and (max-width: 500px) {
  .menu {
    width: 50%;
  }
  .sub-container {
    margin-top: 45px;
  }
}
@media screen and (max-width: 400px) {
  .menu {
    width: 70%;
  }
}
