@use '../../styles/colors.scss';
.banner {
  @apply md:h-screen;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 7rem;
}

.containerH {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 25px;
  justify-content: center;
  transition: 0.5s;
  color: colors.$fontcolor-primary;
}
.header {
  text-align: center;
  font-size: xxx-large;
}
.desc {
  font-size: x-large;
}
@media screen and (max-width: 777px) {
  .header {
    @apply text-4xl;
  }
}
