@use '../../styles/colors.scss';
.portfolioList {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: colors.$background-light;
  color: colors.$fontcolor-primary;
}
.portfolioItems {
  @apply flex flex-wrap h-full w-full px-5 justify-center;
  gap: 15px;
}
.portHoverCardText {
  color: colors.$background-light;
}
.backAlign {
  @apply text-xs mt-2 border-t-0 border-r-0 border-l-0 border-2 border-solid;
  color: colors.$fontcolor-secondary;
}
.pFilter {
  @apply mb-10 text-center;
}
.pFilter ul {
  @apply m-0 p-0;
}
.pFilter ul li {
  @apply inline-block text-sm mr-5 relative cursor-pointer uppercase;
  font-size: large;
}
.pFilter ul li::before {
  content: '/';
  @apply absolute -right-4;
}
.pFilter ul li:last-child::before {
  @apply hidden;
}
.relativeP {
  @apply relative h-full w-full;
  cursor: pointer;
}
.hoverContext {
  @apply flex flex-col items-center;
}
.hoverContext span {
  box-shadow: 0 0 10px rgb(0 0 0 / 45%);
  @apply flex items-center justify-center opacity-100 rounded-lg;
  background: colors.$fontcolor-secondary;
}
