@use '../../styles/colors.scss';
.light_theme {
  background-color: colors.$background-light;
  color: colors.$fontcolor-primary;
}
.Skillbar {
  @apply relative;
  background: colors.$fontcolor-secondary;
}

.resumeMain {
  @apply p-4 sm:p-10 leading-10;
}

.workPara {
  @apply flex-1 flex flex-col md:ml-8;
  margin-left: 4em;
}

.workExp {
  padding: -20px;
}

.education {
  @apply lg:ml-36 md:ml-24 gap-6 text-xl -mt-3 md:flex flex-col;
}

.blockTable {
  @apply flex-1 flex md:mb-20 xs:mb-10 md:flex-row xs:gap-10 xs:flex-col;
}

.day {
  @apply grid w-full lg:grid-cols-2 md:grid-cols-1 lg:px-24 md:pl-14 -mt-6;
}

.college {
  @apply hover:border-solid border-t-0 hover:transform border-b border-l-0 border-r-0;
  color: colors.$fontcolor-secondary;
  border-bottom: colors.$fontcolor-secondary;
}

.workEp {
  @apply flex-1 flex md:flex-row xs:flex-col xs:gap-4;
}

.Skillbars {
  @apply flex items-center gap-4 w-full pr-10;
}

.Skillblock {
  @apply w-auto justify-center flex-1;
}

.Skillht1 {
  @apply w-11/12 h-3  animate-pulse;
  background-color: #333333;
}
.Skillht2 {
  @apply w-4/5 h-3 animate-pulse;
  background-color: #333333;
}

.Skillht3 {
  @apply w-3/4 h-3 animate-pulse;
  background-color: #333333;
}

.Skillht4 {
  @apply w-3/4 h-3 animate-pulse;
  background-color: #333333;
}
.Skillht5 {
  @apply w-5/6 h-3 animate-pulse;
  background-color: #333333;
}
.Skillht6 {
  @apply w-11/12 h-3 animate-pulse;
  background-color: #333333;
}
.Skillht7 {
  @apply w-8/12 h-3 animate-pulse;
  background-color: #333333;
}

.sideDiv {
  @apply flex flex-col sm:flex-row flex-1 w-full md:justify-around;
}
.backAlign {
  color: colors.$fontcolor-secondary;
}
