@use '../../styles/colors.scss';
.container {
  @apply lg:h-screen;
  // height: 100vh;
  background: colors.$background-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.container form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contactContainer {
  height: 100%;
  width: 60%;
  @apply sm:pb-24 sm:flex justify-center text-base flex-col text-center;
  align-items: center;
  justify-content: center;
  padding-top: calc(2.5rem + 1rem);
}

.contactForm {
  @apply flex flex-1 xs:flex-col xs:gap-0  sm:flex-row sm:gap-8;
}

.contactForm input {
  flex: 1;
}

.contactIn {
  display: flex;
  flex-direction: column;
  @apply w-full;
}
.buttonMargin {
  @apply w-40 mt-10 self-center;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid;
  font-size: 14px;
  padding: 12px 20px;
  border-color: colors.$fontcolor-secondary;
  color: colors.$fontcolor-secondary;
  background: transparent;
}

.buttonMargin:hover {
  border-color: colors.$fontcolor-primary;
  color: colors.$fontcolor-primary;
  background: transparent;
  cursor: pointer;
}
.borderBottom {
  @apply border-red-500;
}

.validMsg {
  @apply text-left text-red-500;
}
.contactInput {
  @apply w-full border-t-0 border-r-0 my-5 border-l-0 border-b-2 h-10 p-2 outline-none;
  background: transparent;
  border-color: colors.$fontcolor-secondary;
  color: colors.$fontcolor-primary;
  font-size: 20px;
}
.borderApply {
  @apply border-red-500 w-full border-t-0 border-r-0 my-5 border-l-0 border-b-2 h-10 p-2 outline-none;
  background: transparent;
  color: colors.$fontcolor-primary;
  font-size: 20px;
}
@media screen and (max-width: 777px) {
  .contactContainer {
    width: 80%;
  }
}
.contactTextArea {
  @apply resize-none h-32 leading-6 shadow-none  p-2 border-t-0 border-r-0 border-l-0 border-b-2 outline-none;
  background: transparent;
  border-color: colors.$fontcolor-secondary;
  color: colors.$fontcolor-primary;
  font-size: 20px;
}
.captionCon {
  @apply text-center text-4xl;
  color: colors.$fontcolor-secondary;
}
@media screen and (max-width: 777px) {
  .captionCon {
    @apply text-2xl;
  }
}
.desCon {
  @apply text-center text-2xl uppercase;
  color: colors.$fontcolor-primary;
}
.footerLine {
  @apply col-span-4;
  height: 1px;
  width: 80%;
  background: colors.$fontcolor-primary;
}
