@use '../../styles/colors.scss';
.contactContainer {
  @apply xs:p-10 sm:py-24 sm:flex justify-center text-base flex-col text-center;
  height: 100vh;
  display: flex;
  padding: 2% 15%;
  background: colors.$background-dark;
}
@media screen and (max-width: 480px) {
  .contactContainer {
    padding: 2% 7%;
  }
}

.contactForm {
  @apply flex flex-1 xs:flex-col xs:gap-0  sm:flex-row sm:gap-8;
}

.contactForm input {
  flex: 1;
}

.contactIn {
  display: flex;
  flex-direction: column;
}
.buttonMargin {
  @apply w-40 mt-10 self-center;
}

.borderBottom {
  @apply border-red-500;
}

.validMsg {
  @apply text-left text-red-500;
}
.contactInput {
  @apply border-t-0 border-r-0 my-5 border-l-0 border-b-2 h-10 p-2;
  background: transparent;
  border-color: colors.$fontcolor-secondary;
  color: colors.$fontcolor-primary;
  font-size: 20px;
  width: 80%;
}
.borderApply {
  @apply border-red-500 border-t-0 border-r-0 my-5 border-l-0 border-b-2 h-10 p-2;
  background: transparent;
  color: colors.$fontcolor-primary;
  font-size: 20px;
  width: 80%;
}
@media screen and (max-width: 640px) {
  .contactInput {
    width: 100%;
  }
  .borderApply {
    width: 100%;
  }
}
.contactTextArea {
  @apply resize-none h-32 leading-6 shadow-none  p-2 border-t-0 border-r-0 border-l-0 border-b-2;
  background: transparent;
  border-color: colors.$fontcolor-secondary;
  color: colors.$fontcolor-primary;
  font-size: 18px;
}
.captionCon {
  @apply mb-10 text-center;
  font-size: xx-large;
  color: colors.$fontcolor-secondary;
}

.desCon {
  @apply mb-10 text-center;
  font-size: x-large;
  color: colors.$fontcolor-primary;
}
.footerLine {
  @apply col-span-4 bg-gray-500;
  height: 1px;
}
