.mainDiv {
  background-color: #1b3241;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.img {
  @apply lg:w-[50%] md:w-[50%] sm:w-[50%] xs:w-[94%];
}

.imgdiv {
  @apply flex justify-center flex-col items-center py-4;
  width: 50%;
}

.content {
  @apply leading-8 text-left;
  padding: 20px 0;
}

.textDiv {
  @apply flex-col flex lg:p-6 md:p-5 sm:p-4 xs:p-2 gap-5;
}
.head {
  text-decoration: underline #4da8da;
  font-size: x-large;
}
.detail {
  padding: 10px 0;
  margin-bottom: 20px;
}
