@use '../../styles/colors.scss';
.container {
  height: 100vh;
  background: colors.$background-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.alignment {
  margin-top: calc(2.5rem + 1rem);
  width: 100%;
  max-width: 1024px;
  background-color: colors.$background-dark;
  display: flex;
  flex-direction: column;
}
.heading {
  @apply text-center text-4xl;
  color: colors.$fontcolor-secondary;
}
.caption {
  @apply text-center text-2xl uppercase;
  color: colors.$fontcolor-primary;
}
.textAlign {
  @apply text-center;
}

.leftbox {
  @apply flex md:flex-row xs:flex-col xs:items-center my-8;
}

.leftsubbox {
  @apply p-5 lg:w-2/4 rounded-xl;
  background-color: colors.$fontcolor-secondary;
}

.leftTextAlign {
  @apply leading-none pb-1 mb-1;
  color: colors.$fontcolor-primary;
  border-bottom: 2px solid;
}
.portEduLeftText {
  color: colors.$fontcolor-primary;
  @apply text-lg;
}
.bars {
  @apply flex items-center gap-4 px-5;
}

.baralign {
  @apply flex flex-col w-full;
}

.percentfield {
  @apply text-3xl font-black  mt-8;
  color: colors.$fontcolor-primary;
}

.bar {
  @apply relative;
  background-color: colors.$background-light;
}
.ht2 {
  @apply h-3 animate-pulse;
  background-color: colors.$fontcolor-secondary;
}
.block {
  @apply w-full flex-col;
}
.align {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 777px) {
  .container {
    height: auto;
  }
}
