@use '../../styles/colors.scss';
.alignment {
  padding: 5% 7%;
  background-color: colors.$background-dark;
}

.textAlign {
  @apply text-center;
}

.leftbox {
  @apply flex md:flex-row xs:flex-col xs:items-center my-14;
}

.leftsubbox {
  @apply py-5 pl-5 lg:w-2/4 xs:w-11/12 rounded-xl;
  background-color: colors.$fontcolor-secondary;
}

.leftTextAlign {
  @apply leading-none pb-1 text-black;
}

.bars {
  @apply flex items-center gap-4 px-5;
}

.baralign {
  @apply flex flex-col w-full;
}

.percentfield {
  @apply text-3xl font-black text-black mt-8;
}

.bar {
  @apply relative;
  background-color: colors.$background-light;
}

.ht {
  @apply h-3 animate-pulse;
  background-color: colors.$fontcolor-secondary;
}
.ht2 {
  @apply w-4/5 h-3 animate-pulse;
  background-color: colors.$fontcolor-secondary;
}
.ht3 {
  @apply w-3/4 h-3 animate-pulse;
  background-color: colors.$fontcolor-secondary;
}
.ht4 {
  @apply w-5/6 h-3 animate-pulse;
  background-color: colors.$fontcolor-secondary;
}

.viewMore {
  @apply flex-1 flex justify-center items-center;
}

.block {
  @apply w-full flex-col;
}
.align {
  display: flex;
  justify-content: center;
}
