@use '../../styles/colors.scss';
.container {
  @apply lg:h-screen;
  // height: 100vh;
  background: colors.$background-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.alignment {
  margin-top: calc(2.5rem + 1rem);
  width: 100%;
  max-width: 1024px;
  background-color: colors.$background-dark;
  display: flex;
  flex-direction: column;
}
.heading {
  @apply text-center text-4xl;
  color: colors.$fontcolor-secondary;
}
@media screen and (max-width: 777px) {
  .heading {
    @apply text-2xl;
  }
}
.caption {
  @apply text-center text-2xl uppercase;
  color: colors.$fontcolor-primary;
}
.textAlign {
  @apply text-center;
}

.leftbox {
  @apply flex md:flex-row xs:flex-col xs:items-center my-8;
}

.leftsubbox {
  @apply p-5 lg:w-2/5 md:w-2/5 sm:w-2/4 rounded-xl duration-300;
  background-color: colors.$background-light;
  padding-bottom: 0;
}
.leftsubbox:hover {
  box-shadow: 0 5px 15px colors.$fontcolor-secondary;
  transition-duration: 500ms;
}

.leftTextAlign {
  @apply leading-none pb-2 mb-2;
  // color: colors.$fontcolor-primary;
  // border-bottom: 2px solid;
}
.portEduLeftText {
  @apply text-lg leading-6;
  color: colors.$fontcolor-primary;
}
@media screen and (max-width: 777px) {
  .portEduLeftText {
    @apply text-base;
  }
}
.bars {
  @apply flex items-center gap-4 px-5;
}

.baralign {
  @apply flex flex-col w-full;
}

.percentfield {
  @apply text-3xl font-black  mt-8;
  color: colors.$fontcolor-primary;
}

.bar {
  @apply relative;
  background-color: colors.$background-light;
}
.ht2 {
  @apply h-3 animate-pulse;
  background-color: colors.$fontcolor-secondary;
}
.block {
  @apply w-full flex-col;
}
.align {
  display: flex;
  justify-content: center;
}
// @media screen and (max-width: 777px) {
//   .container {
//     height: auto;
//   }
// }
