@use '../../styles/colors.scss';

.container {
  @apply md:h-screen;
  background: colors.$background-dark;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  gap: 2rem;
  max-width: 1200px;
  padding-bottom: 1.5rem;
  padding-top: calc(3.5rem + 1rem);
  display: flex;
  align-items: flex-start;
  color: colors.$fontcolor-primary;
}
@media screen and (max-width: 1025px) {
  .about {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 1300px) {
  .about {
    max-width: 1024px;
  }
}
.description {
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name {
  @apply text-5xl;
  color: colors.$fontcolor-secondary;
}
.caption {
  @apply text-2xl;
  line-height: 3rem;
}
.des {
  @apply text-lg;
}
.portSocial {
  justify-content: center;
  display: flex;
  padding: 1rem 0;
}
@media screen and (max-width: 850px) {
  .name {
    @apply text-4xl;
  }
  .container {
    height: fit-content;
  }
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description {
    height: fit-content;
    align-items: center;
    padding-bottom: 1rem;
  }
}
