@use '../../styles/colors.scss';

.about {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 2% 7%;
  background: colors.$background-dark;
  color: colors.$fontcolor-primary;
}
.aboutImg {
  margin-right: 10px;
  width: 60%;
}

// .aboutImg img {
//   border: solid 2px colors.$fontcolor-secondary;
// }
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2%;
}
.name {
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: xxx-large;
  color: colors.$fontcolor-secondary;
}
.caption {
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: x-large;
}
.des {
  font-size: large;
  font-weight: lighter;
  margin-bottom: 2.5rem;
}
.portSocial {
  justify-content: center;
  margin-bottom: 2.5rem;
  display: flex;
}
.portSocialButton {
  align-items: center;
}
.portSocialBtn:hover {
  border: solid 2px colors.$fontcolor-secondary;
  color: colors.$fontcolor-secondary;
  background-color: transparent;
}
.portSocialBtn {
  display: flex;
  align-items: center;
  flex-direction: column;
  fill: currentColor;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: colors.$fontcolor-primary;
  &:hover {
    .btnHover {
      cursor: pointer;
      fill: currentColor;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      color: colors.$fontcolor-secondary;
    }
  }
}

@media screen and (max-width: 850px) {
  .about {
    flex-direction: column;
    justify-content: flex-end;
    height: fit-content;
  }
  .aboutImg img {
    width: 100%;
  }
  .des {
    padding: 0 10px;
  }
  .description {
    align-items: center;
  }
}
@media screen and (max-width: 513px) {
  .about {
    justify-content: center;
  }

  .name {
    font-size: xx-large;
  }
}
