// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import '../components/Navbar/navbar.scss';
// @import '../container/about/about.module.scss';
// @import '../container/Education/education.module.scss';
// @import '../pages/Resume/resume.module.scss';
// @import '../pages/PortfolioPage/portfolio.module.scss';
// @import '../pages/singleBlog/singleBlog.module.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
}
