@use '../../styles/colors.scss';
.footer {
  @apply md:gap-6 sm:gap-5 py-14 h-full lg:px-20 md:px-20;
  background-color: colors.$background-dark;
  color: colors.$fontcolor-primary;
  gap: 20px;
}
.footerMain {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.contactF {
  display: flex;
}
.footer {
  display: flex;
  flex-direction: column;
}
.footerText {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.footerText span a {
  color: colors.$fontcolor-primary;
}
.footerText span a:hover {
  color: colors.$fontcolor-secondary;
}
.footerSoc {
  display: flex;
  justify-content: center;
}
.portSocialBtn {
  @apply mx-1 flex items-center flex-col fill-current ease-in-out;
  color: colors.$fontcolor-primary;
  &:hover {
    .btnHover {
      @apply fill-current ease-in-out cursor-pointer;
      color: colors.$fontcolor-secondary;
    }
  }
}

@media screen and (max-width: 600px) {
  .footerMain {
    flex-direction: column;
  }
  .contactF {
    padding: 20px;
  }
}
